<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Email</title>
</head>
<body>
    <h4>You have received new New Order click below link to see Details</h4>
</br>
</br>
    <a href="https://medspanda.com/admin/home/order/{{orderId}}/change/">Track Your Order</a>


<div style="display: flex;justify-content: space-evenly;">
    <h2 style="margin: 0px 10px;">medspanda3@gmail.com</h2>
    <h2 style="margin: 0px 10px;">+12354545</h2>
    <h2 style="margin: 0px 10px;">MedsPanda</h2>
    <a href="https://medspanda.com/" style="margin: 0px 10px;"> <img src="https://medspanda.com/static/app/desktop/images/logo.png" style="width:150px" class="img-fluid" alt=""></a>


</div>
</body>
</html>