<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %} ">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
      
    <title>Checkout</title>
    <style>
        .frm-btm {
    background-color: transparent !important;
    background-image: url("{% static 'app/desktop/images/btn.png' %}") !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    height: 75px !important;
    font-size: 0 !important;
    width: 100% !important;
    border: none !important;
    margin-top: 15px !important;
    cursor: pointer !important;
}
.pulse {
    animation: pulse 1.5s infinite;
}
        .social_media ul li {
    display: inline-block;
    margin: 0px 10px;
}
li {
    list-style: none;
}
.secure-logos {
    display: inline-block;
    vertical-align: middle;
    margin: 7px 0 0;
}
.summryOuter {
   
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    
}
.summryHeading {
    float: left;
    width: 100%;
    background: #561b77;
    padding: 2px 10px;
    border-radius: 5px 5px 0 0;
}
.summryInner {
    float: left;
    width: 100%;
    padding: 10px 15px 0;
}
.summryHeading p {
    float: left;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 13px;
}
.summryRaw {
   
    justify-content: space-between;
    display: flex;
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #2d2d2d;
    text-align: left;
}
.summryRaw span{
    font-weight: bold;
}
.total {
    font-weight: bold;
    border: none;
}
.testi-txt1 {
    float: left;
    width: 100%;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #002967;
    margin-bottom: 10px;
}
.testi-txt3 {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 23px;
    color: #313131;
    margin-bottom: 10px;
}
.testi-txt4 {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.chk-testiBx {
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 7px 11px;
    margin-top: 10px;
}
input.pulse.frm-btm {}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.pulse {
    animation: pulse 1.5s infinite
}

@keyframes pulse {
    0% {
        transform: scale(.9)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(.9)
    }
}

    </style>
</head>

<body>
  
    <header id="header" style=" 
    clear: both;
    margin: 10px auto;
    padding: 0;">
        <div class="container">
         <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <a href="{% url 'Home' %}"> <img src="{% static 'app/desktop/images/logo.png' %}" class="img-fluid" alt=""></a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{% static 'app/desktop/images/twosetp.png' %}" class="img-fluid" alt=""></a>
            </div>
            
         </div>
        </div>
    </header>
    <main class="checkout pt-4" style="background-image: url('{% static 'app/desktop/images/checkout.jpg' %}');background-size:cover;background-repeat:no-repeat;">
        <section class="checkout_wrp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="order_process">
                            <div class="order_ad">
                              
                                <h6>Order now and get your free Pills!</h6>
                            </div>
                            <div class="order_sub_text">
                                <p><span class="green"> Congratulations! </span>You’re one step away from amazing
                                    results.
                                    Act now so you don’t miss out on this offer!</p>
                                <p>Current Availability: <img src="{% static 'assets/images/availability.png' %}" alt=""> <b> LOW
                                        STOCK! </b> Sell Out Risk: <span class="red"> HIGH
                                    </span> </p>
                            </div>
                            <div class="product_list">
                                {% for product in products %}
                                <div class="box {% if forloop.counter == 1 %}selected {% endif %}" id="pack_{{product.pk}}">
                                    <p class="box-lft-p1"><span style="font-size: 28px;">{{product.name}}</span> <span><img
                                                src="{% static 'assets/images/box.png' %}" alt=""> Free Shipping</span></p>
                                    <div class="product_data">
                                        <div class="form-check">
                                            <input class="form-check-input packageSelect" type="radio" value=""
                                                id="flexCheckDefault_{{product.pk}}" name="package_select" {% if forloop.counter == 1 %} checked {% endif %}  >
                                            <label class="form-check-label" for="flexCheckDefault_{{product.pk}}">
                                            </label>
                                        </div>
                                        <div class="box-lft">
                                            <img src="{% static 'app/desktop/images/single_pill.png' %}"  alt=""
                                                class="chk-btl">

                                            <h3>{{product.package}} Pills</h3>
                                        </div>
                                      
                                       <div class="plush_icon">
                                        <i class="fas fa-plus-circle"></i>
                                    </div>
                                  
                                        <div class="box-lft">
                                            <div class="sel-chk"></div>
                                            <img src="{% static 'app/desktop/images/single_pill.png' %}" alt=""
                                                class="chk-btl">
                                                <h3>{{product.extra}} Free Pills</h3>
                                        </div>
                                        <div class="box-rgt">
                                            
                                            <p class="box-rgt-p2">${{product.price}}</p>
                                            <p style="    font-size: 22px;
                                            font-weight: bold;">${{product.price_per_pill}} / pill</p>

                                           
                                            <div class="sel-btn"></div>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.last %}
                                <div class="box" id="pack1">
                                <div class="summryOuter mb-4">
                                    <div class="summryHeading">
                                        <p>Order Summary</p>
                                        <img src="{% static 'assets/images/postal-logo.png' %}" style="    float: right;
                                        margin-top: 4px;
                                    " class="postal-logo">
                                    </div>
                                    <div class="summryInner"> 
                                        <div id="prd-info" class="summryRaw">{{products.0.name}} : {{products.0.package}} + {{products.0.extra}} <span class="prd-prc">${{products.0.price}}</span></div>
                                        
                                        <div class="summryRaw">Shipping Type: <span class="shipInfo">Express Shipping</span></div>
                                        <div class="summryRaw">Shipping Price: <span class="shippingprice">$0.00</span></div>
                                        <div class="summryRaw">Estimated Delivery Date: <span class="shippingprice">{{four_days|date:"d-m-Y"}}</span></div>

                                        <div class="summryRaw total">Your Total:	<span class="totalprice">$ {{products.0.price}}</span></div>  
                                    </div>
                                </div>
                            </div>
                                {% endif %}
                                {% endfor %}
                                
                            </div>
                           
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="payment">
                            <div class="payment_card">
                                <div class="pay_top_image">
                                    <img class="img-fluid" src="{% static 'assets/images/pay_top_card.png' %}" alt="">
                                </div>
                                <div class="payment_type">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-home" type="button" role="tab"
                                                aria-controls="pills-home" aria-selected="true">Card</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-profile" type="button" role="tab"
                                                aria-controls="pills-profile" aria-selected="false">Paypal</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-contact" type="button" role="tab"
                                                aria-controls="pills-contact" aria-selected="false">Bitcoin</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                            aria-labelledby="pills-home-tab">

                                            <div id="Checkout" class="inline">
                                                 
                                                <div class="card-row">
                                                    <span class="visa"></span>
                                                    <span class="mastercard"></span>
                                                    <span class="amex"></span>
                                                    <span class="discover"></span>
                                                </div>
                                                <form action="" method="post">{% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="PaymentAmount">Payment amount</label>
                                                        <div class="amount-placeholder">
                                                            <span>$</span>
                                                            <span id="package_price">{{products.0.price}}</span>
                                                            <input class="package_pk" name="package_pk" value="{{products.0.pk}}" style="display: none;" />

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label or="NameOnCard">Name on card</label>
                                                        <input id="NameOnCard" class="form-control" name="name" type="text"
                                                            maxlength="255" required></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CreditCardNumber">Card number</label>
                                                        <input id="CreditCardNumber"
                                                            class="null card-image form-control" name="number" type="text" required></input>
                                                    </div>
                                                    <div class="expiry-date-group form-group">
                                                        <label for="ExpiryDate">Expiry date</label>
                                                        <input id="ExpiryDate" class="form-control" type="text"
                                                            placeholder="MM / YY" name="edate" maxlength="7" required></input>
                                                    </div>
                                                    <div class="security-code-group form-group">
                                                        <label for="SecurityCode">Security code</label>
                                                        <div class="input-container">
                                                            <input id="SecurityCode" class="form-control"
                                                                type="text" name="cvc" maxlength="3" required> </input>
                                                            </i>
                                                        </div>
                                                      
                                                    </div>
                                                    <input type="submit" class="pulse frm-btm" name="card"
                                                    value="Secure Checkout " style="    animation: pulse 1.5s infinite;background-image: url(/static/app/desktop/images/checkout.png) !important;" />
                                                </form>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade p-3" id="pills-profile" role="tabpanel"
                                            aria-labelledby="pills-profile-tab">
                                             <p>
                                                When you choose PayPal as your payment option, you will get a call from our customer care team. You need to follow the instructions to complete the payment process.
                                             </p>
                                             <form action="" method="post">{% csrf_token %}
                                                <input class="package_pk" name="package_pk" value="{{products.0.pk}}" style="display: none;" />
                                             <button id="PayButton" type="submit"
                                             class="btn btn-block btn-success submit-button" name="paypal">
                                             <span class="submit-button-lock"></span>
                                             <span class="align-middle" >Place Order</span>
                                            </button></form>
                                        </div>
                                        <div class="tab-pane fade p-3" id="pills-contact" role="tabpanel"
                                            aria-labelledby="pills-contact-tab">
                                            <p>
                                                When you choose Bitcoin as your payment option, you will get a call from our customer care team. You need to follow the instructions to complete the payment process.
                                            </p>
                                            <form action="" method="post">{% csrf_token %}
                                                <input class="package_pk" name="package_pk" value="{{products.0.pk}}" style="display: none;" />
                                            <button id="PayButton" type="submit"
                                            class="btn btn-block btn-success submit-button"  name="bitcoin">
                                            <span class="submit-button-lock"></span>
                                            <span class="align-middle">Place Order</span>
                                        </button></form>
                                        </div>
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="https://www.vitalyzepro.com/pro/images/secure-logos.jpg" class="secure-logos">
                        <div class="chk-testiBx">
                            <p class="testi-txt1">Real People . Real Results</p>
                            <img src="https://www.vitalyzepro.com/pro/images/man1.png" class="chk-t-img1"> 
                            <img src="https://www.vitalyzepro.com/pro/images/star.png" class="t-star">
                            <p class="testi-txt3">"This product worked for me. Don’t get me wrong, I was not walking around with an erection all day. But I did have increased libido when it was time for more stamina, and definitely had increased blood flow. I was horny and ready about every night. I felt more energized and was a bit more aggressive but in a good way."</p>
                            <p class="testi-txt4">- Philip G.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        var products ={{price_dict|safe}}
        $(".packageSelect").click(function(){
            var id = $(this).attr('id').slice(17,)
            $(".box").removeClass("selected")
            $("#pack_"+id).addClass("selected")
            var price = products[id][0]
            $("#package_price").html(price)
            $(".totalprice").html("$ "+price)
            $(".apackage_pk").val(id)
            $("#prd-info").html(`${products[id][1]} : ${products[id][2]} + ${products[id][3]} <span class="prd-prc">$ ${products[id][0]}</span>`)
        })

        $("#ExpiryDate").keyup(function(){
           
            var val_len = $(this).val().length;
            if(val_len == 2){
                $(this).val($(this).val()+"/")
            }
           

        })
    </script>
</body>

</html>