<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %} ">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
      
    <title>Checkout</title>
    <style>
        .social_media ul li {
    display: inline-block;
    margin: 0px 10px;
}
li {
    list-style: none;
}
.summryOuter {
    float: left;
    width: 95%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin: 20px 0 0 10px;
}
.summryHeading {
    float: left;
    width: 100%;
    background: #561b77;
    padding: 2px 10px;
    border-radius: 5px 5px 0 0;
}
.summryInner {
    float: left;
    width: 100%;
    padding: 10px 15px 0;
}
.summryHeading p {
    float: left;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 13px;
}
.summryRaw {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #2d2d2d;
    text-align: left;
}
.total {
    font-weight: bold;
    border: none;
}
    </style>
</head>

<body>
  
   
    <main class="checkout mt-4">
        <section class="checkout_wrp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="order_process">
                            <div class="order_ad">
                                <a href="https://medspanda.herokuapp.com/" style="font-weight: bold;text-decoration: none;"> Go Back to Home</a>
                                <h6>Order now and get your free Pills!</h6>
                            </div>
                            <div class="order_sub_text">
                                <p><span class="green"> Congratulations! </span>You’re one step away from amazing
                                    results.
                                    Act now so you don’t miss out on this offer!</p>
                                <p>Current Availability: <img src="{% static 'assets/images/availability.png' %}" alt=""> <b> LOW
                                        STOCK! </b> Sell Out Risk: <span class="red"> HIGH
                                    </span> </p>
                            </div>
                            <div class="product_list">
                                {% for product in products %}
                                <div class="box selected" id="pack1">
                                    <p class="box-lft-p1">{{product.package}} + {{product.extra}} Pill FREE <span><img
                                                src="{% static 'assets/images/box.png' %}" alt=""> Free Shipping</span></p>
                                    <div class="product_data">
                                        <div class="form-check">
                                            <input class="form-check-input packageSelect" type="radio" value=""
                                                id="flexCheckDefault_{{product.pk}}" name="package_select" {% if forloop.counter == 1 %} checked {% endif %}  >
                                            <label class="form-check-label" for="flexCheckDefault_{{product.pk}}">
                                            </label>
                                        </div>
                                        <div class="box-lft">
                                            <img src="{% static 'app/desktop/images/s1-box-bottle.png' %}"  alt=""
                                                class="chk-btl">
                                        </div>
                                      
                                       <div class="plush_icon">
                                        <i class="fas fa-plus-circle"></i>
                                    </div>
                                  
                                        <div class="box-lft">
                                            <div class="sel-chk"></div>
                                            <img src="{% static 'app/desktop/images/s1-box-bottle.png' %}" alt=""
                                                class="chk-btl">
                                        </div>
                                        <div class="box-rgt">
                                            <p class="box-rgt-p1">{{product.name}}</p>
                                            <p class="box-rgt-p2">${{product.price}}</p>
                                           
                                            <div class="sel-btn"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <div class="summryOuter mb-4">
                                <div class="summryHeading">
                                    <p>Order Summary</p>
                                    <img src="{% static 'assets/images/postal-logo.png' %}" style="    float: right;
                                    margin-top: 4px;
                                " class="postal-logo">
                                </div>
                                <div class="summryInner"> 
                                    <div id="prd-info" class="summryRaw">5 Month Supply: <span class="prd-prc">39.74/each</span></div>
                                    <div class="summryRaw">Est. Delivery Date:	<span><script type="text/javascript"></script>Dec 19, 2021</span></div>
                                    <div class="summryRaw">Shipping Type: <span class="shipInfo">Standard Shipping</span></div>
                                    <div class="summryRaw">Shipping Price: <span class="shippingprice">$0.00</span></div>
                                    <div class="summryRaw total">Your Total:	<span class="totalprice">${{products.0.price}}</span></div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="payment">
                            <div class="payment_card">
                                <div class="pay_top_image">
                                    <img class="img-fluid" src="{% static 'assets/images/pay_top_card.png' %}" alt="">
                                </div>
                                <div class="payment_type">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-home" type="button" role="tab"
                                                aria-controls="pills-home" aria-selected="true">Card</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-profile" type="button" role="tab"
                                                aria-controls="pills-profile" aria-selected="false">Paypal</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-contact" type="button" role="tab"
                                                aria-controls="pills-contact" aria-selected="false">Bitcoin</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                            aria-labelledby="pills-home-tab">

                                            <div id="Checkout" class="inline">
                                                 
                                                <div class="card-row">
                                                    <span class="visa"></span>
                                                    <span class="mastercard"></span>
                                                    <span class="amex"></span>
                                                    <span class="discover"></span>
                                                </div>
                                                <form action="" method="post">{% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="PaymentAmount">Payment amount</label>
                                                        <div class="amount-placeholder">
                                                            <span>$</span>
                                                            <span id="package_price">{{products.0.price}}</span>
                                                            <input class="package_pk" name="package_pk" value="{{products.0.pk}}" style="display: none;" />

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label or="NameOnCard">Name on card</label>
                                                        <input id="NameOnCard" class="form-control" name="name" type="text"
                                                            maxlength="255"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CreditCardNumber">Card number</label>
                                                        <input id="CreditCardNumber"
                                                            class="null card-image form-control" name="number" type="text"></input>
                                                    </div>
                                                    <div class="expiry-date-group form-group">
                                                        <label for="ExpiryDate">Expiry date</label>
                                                        <input id="ExpiryDate" class="form-control" type="text"
                                                            placeholder="MM / YY" name="edate" maxlength="7"></input>
                                                    </div>
                                                    <div class="security-code-group form-group">
                                                        <label for="SecurityCode">Security code</label>
                                                        <div class="input-container">
                                                            <input id="SecurityCode" class="form-control"
                                                                type="text" name="cvc"></input>
                                                            <i id="cvc" class="fa fa-question-circle"></i>
                                                        </div>
                                                        <div class="cvc-preview-container two-card hide">
                                                            <div class="amex-cvc-preview"></div>
                                                            <div class="visa-mc-dis-cvc-preview"></div>
                                                        </div>
                                                    </div>
                                                    <button id="PayButton"
                                                        class="btn btn-block btn-success submit-button" name="card" type="submit">
                                                        <span class="submit-button-lock"></span>
                                                        <span class="align-middle">Pay</span>
                                                    </button>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade p-3" id="pills-profile" role="tabpanel"
                                            aria-labelledby="pills-profile-tab">
                                             <p>
                                                When you choose PayPal as your payment option, you will get a call from our customer care team. You need to follow the instructions to complete the payment process.
                                             </p>
                                             <form action="" method="post">{% csrf_token %}
                                                <input class="package_pk" name="package_pk" value="{{products.0.pk}}" style="display: none;" />
                                             <button id="PayButton" type="submit"
                                             class="btn btn-block btn-success submit-button" name="paypal">
                                             <span class="submit-button-lock"></span>
                                             <span class="align-middle" >Place Order</span>
                                            </button></form>
                                        </div>
                                        <div class="tab-pane fade p-3" id="pills-contact" role="tabpanel"
                                            aria-labelledby="pills-contact-tab">
                                            <p>
                                                When you choose Bitcoin as your payment option, you will get a call from our customer care team. You need to follow the instructions to complete the payment process.
                                            </p>
                                            <form action="" method="post">{% csrf_token %}
                                                <input class="package_pk" name="package_pk" value="{{products.0.pk}}" style="display: none;" />
                                            <button id="PayButton" type="submit"
                                            class="btn btn-block btn-success submit-button"  name="bitcoin">
                                            <span class="submit-button-lock"></span>
                                            <span class="align-middle">Place Order</span>
                                        </button></form>
                                        </div>
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        var products ={{price_dict|safe}}
        $(".packageSelect").click(function(){
            var id = $(this).attr('id').slice(17,)
            var price = products[id]
            $("#package_price").html(price)
            $(".totalprice").html("$ "+price)
            $(".apackage_pk").val(id)
        })
    </script>
</body>

</html>