<!doctype html>
<html>

{% load static %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />



    <link rel="shortcut icon" href="{% static 'app/desktop/images/meds_box-bottle.png" />

    <link href="{% static 'app/desktop/css/mergedc880.css?v=1.001' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'app/desktop/js/jquery.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&amp;display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href="{% static 'app/desktop/css/bridge.min.css' %}">
    <link rel='stylesheet' href="{% static 'app/desktop/css/home-style.css' %}">

    <link rel="stylesheet" href="{% static 'app/desktop/css/responsive.css' %}">


    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

<style>
    

.thankyou_icon img {
  width: 383px;
}

.thankyou_page_text h1 {
  font-weight: 700;
  margin: 15px 0;
  color: #04507f;
  font-size: 45px;
  text-shadow: 2px 2px 0px #04507f54;
}

.thankyou_page_text h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3d3d3d;
}

.thankyou_page_text p {
  color: #707070;
  font-size: 14px;
}
.thankyou_page_text a {
  font-size: 14px;
  display: block;
  background-color: #04507f;
  width: fit-content;
  margin: 0 auto;
  margin-top: 21px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
}
.thankyou_page_text a:hover {
  color: #fff;
  
  background-color: #04507feb;
}
.thankyou_table table thead tr {
    background-color: #04507f;
    color: #fff;
}
.thankyou_table table tbody tr {
    border-bottom: transparent;
}
.thankyou_table {
    margin-bottom: 15px;
}
</style>

{% load static %}
</head>

<body>

    <section class="thankyou_wrp">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="thankyou_icon">
                        <img src="{% static 'app/desktop/images/thankyou.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="thankyou_page_text">
                        <h1>Thank You.</h1>
                        <h4>Thank you for Placing Order with Medspanda <br> Use Order id <b>{{order_id}}</b> for furthur usage</h4>
                        <div class="thankyou_table">
                            <table class="table table-striped">
                               
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Order Id</th>
                                        
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Package Size</th>
                                        <th scope="col">Extra Pills</th>
                                        <th scope="col">Cost</th>


                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>{{order.order_id}}</td>
                                        <td>{{order.product.name}}</td>
                                        <td>{{order.product.package}} Pills</td>
                                        <td>{{order.product.extra}} Pills</td>
                                        <td>{{order.totalAmount}} $</td>
                                      </tr>
                                    
                                    </tbody>
                                   
                              </table>
                        </div>
                        <div class="row">
                            <div class="col-md-5 cols-sm-12">
                              <h6>Delivery Address</h6>
                              <p>
                                {{order.customerdetails.address}}, {{order.customerdetails.city}},
                                {{order.customerdetails.state}}, {{order.customerdetails.country}}. <br/>
                                {{order.customerdetails.zipcode}}
                              </p>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 cols-sm-12">
                              <h6>Customer Name</h6>
                              <p>
                                {{order.customerdetails.first_name}}
                                {{order.customerdetails.last_name}} 
                               </p>
                            </div>
                        </div>
                        
                        <a href="{% url 'Home' %} ">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>



</html>